<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>flask streaming</title>
        <script>
            window.addEventListener("load",function(){
                window.addEventListener('keydown', keyboardDown);
                window.addEventListener("keyup", keyboardUp);
            });
            function keyboardDown(event) {
            event.preventDefault();
            var element = document.getElementById("screen");
            var formData = new FormData();
            formData.append("keyDown",event.key)
            fetch("/keyboard_down", {
                method: "POST",
                body: formData
                });
            };
            function keyboardUp(event) {
            event.preventDefault();
            var element = document.getElementById("screen");
            var formData = new FormData();
            formData.append("keyUp",event.key)
            fetch("/keyboard_up", {
                method: "POST",
                body: formData
                });
            };
        </script>
    </head>
    <body>
        <div style="text-align: center;">
        <img id="screen" src="{{ url_for('video_feed') }}" width="60%" style="
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-touch-callout: none;
        -moz-user-select: none;
        touch-callout: none;
        user-select: none;
        ">
        </div>
        <div style="text-align: center;">
            <a href="{{ url_for('shutdown') }}">シャットダウン</a>
        </div>
    </body>
</html>