<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>CanSat</title>
        <script>
            window.addEventListener("load",function(){
                window.addEventListener('keydown', keyboardDown);
                window.addEventListener("keyup", keyboardUp);
                document.getElementById("jettison").addEventListener('mousedown', down);
                document.getElementById("forward").addEventListener('mousedown', forwardMove);
                document.getElementById("left").addEventListener('mousedown', leftMove);
                document.getElementById("right").addEventListener('mousedown', rightMove);
                document.getElementById("back").addEventListener('mousedown', backMove);
                document.getElementById("forward").addEventListener('mouseup', keyboardUp);
                document.getElementById("left").addEventListener('mouseup', keyboardUp);
                document.getElementById("right").addEventListener('mouseup', keyboardUp);
                document.getElementById("back").addEventListener('mouseup', keyboardUp);
                document.getElementById("smallForward").addEventListener('mousedown', smallForwardMove);
                document.getElementById("smallLeft").addEventListener('mousedown', smallLeftMove);
                document.getElementById("smallRight").addEventListener('mousedown', smallRightMove);
                document.getElementById("smallBack").addEventListener('mousedown', smallBackMove);
                document.getElementById("left90").addEventListener('mousedown', left90Move);
                document.getElementById("right90").addEventListener('mousedown', right90Move);
            });

            function smallForwardMove(event) {
                event.preventDefault();
                var element = document.getElementById("foward");
                var formData = new FormData();
                formData.append("keyDown", "w");
                formData.append("timeout", "5");
                fetch("/small_down", {
                    method: "POST",
                    body: formData
                    });
            };

            function smallLeftMove(event) {
                event.preventDefault();
                var element = document.getElementById("foward");
                var formData = new FormData();
                formData.append("keyDown", "a");
                formData.append("timeout", "0.1");
                fetch("/small_down", {
                    method: "POST",
                    body: formData
                    });
            };

            function smallRightMove(event) {
                event.preventDefault();
                var element = document.getElementById("foward");
                var formData = new FormData();
                formData.append("keyDown", "d");
                formData.append("timeout", "0.1");
                fetch("/small_down", {
                    method: "POST",
                    body: formData
                    });
            };

            function smallBackMove(event) {
                event.preventDefault();
                var element = document.getElementById("foward");
                var formData = new FormData();
                formData.append("keyDown", "w");
                formData.append("timeout", "5");
                fetch("/small_down", {
                    method: "POST",
                    body: formData
                    });
            };

            function left90Move(event) {
                event.preventDefault();
                var element = document.getElementById("foward");
                var formData = new FormData();
                formData.append("keyDown", "a");
                formData.append("timeout", "1");
                fetch("/small_down", {
                    method: "POST",
                    body: formData
                    });
            };

            function right90Move(event) {
                event.preventDefault();
                var element = document.getElementById("foward");
                var formData = new FormData();
                formData.append("keyDown", "d");
                formData.append("timeout", "1");
                fetch("/small_down", {
                    method: "POST",
                    body: formData
                    });
            };

            function down(event) {
                var element = document.getElementById("jettison");
                var formData = new FormData();
                formData.append("click", event.button)
                fetch("/jettison", {
                    method: 'POST',
                    body: formData
                });
                event.preventDefault();
            };

            function forwardMove(event) {
            event.preventDefault();
            var element = document.getElementById("foward");
            var formData = new FormData();
            formData.append("keyDown","w")
            fetch("/keyboard_down", {
                method: "POST",
                body: formData
                });
            };

            function leftMove(event) {
            event.preventDefault();
            var element = document.getElementById("left");
            var formData = new FormData();
            formData.append("keyDown","a")
            fetch("/keyboard_down", {
                method: "POST",
                body: formData
                });
            };

            function rightMove(event) {
            event.preventDefault();
            var element = document.getElementById("right");
            var formData = new FormData();
            formData.append("keyDown","d")
            fetch("/keyboard_down", {
                method: "POST",
                body: formData
                });
            };

            function backMove(event) {
            event.preventDefault();
            var element = document.getElementById("back");
            var formData = new FormData();
            formData.append("keyDown","s")
            fetch("/keyboard_down", {
                method: "POST",
                body: formData
                });
            };

            function keyboardDown(event) {
            event.preventDefault();
            var element = document.getElementById("screen");
            if (event.keyCode == 87 || event.keyCode == 65 || event.keyCode == 83 || event.keyCode == 68) {
                if(event.repeat == false) {
                    var formData = new FormData();
                    formData.append("keyDown",event.key)
                    fetch("/keyboard_down", {
                        method: "POST",
                        body: formData
                        });
                    };
                };
            };

            function keyboardUp(event) {
            event.preventDefault();
            var element = document.getElementById("screen");
            var formData = new FormData();
            formData.append("keyUp",event.key)
            fetch("/keyboard_up", {
                method: "POST",
                body: formData
                });
            };

            function resolutionChange(){
                const resolution = document.resolution.resolution;

                const num = resolution.selectedIndex;

                const str =  resolution.options[num].value;

                var formData = new FormData();
                formData.append("resolution",str)
                fetch("/change_resolution", {
                    method: "POST",
                    body: formData
                    });
                setTimeout(doReload, 3000);
            };

            function fpsChange(){
                const fps = document.fps.fps;

                const num = fps.selectedIndex;

                const str =  fps.options[num].value;

                var formData = new FormData();
                formData.append("fps",str)
                fetch("/change_fps", {
                    method: "POST",
                    body: formData
                    });
                setTimeout(doReload, 3000);
            };

            function doReload() {
                window.location.reload();
            }

            function imageSave(){
                var formData = new FormData();
                fetch("/save_image", {
                    method: "POST",
                    body: formData
                    });
            };

            window.onload = function(){
                const currentValueElem = document.getElementById("currentDutyRate");
                const inputElem = document.getElementById("dutyRate");

                const setCurrentValue = (val) => {
                    currentValueElem.innerText = val;
                };

                const rangeOnChange = (e) => {
                    setCurrentValue(e.target.value);
                    var formData = new FormData();
                    formData.append("dutyRate", inputElem.value)
                    fetch("/change_duty_rate", {
                        method: "POST",
                        body: formData
                        });
                };
                inputElem.addEventListener("input", rangeOnChange);
                setCurrentValue(inputElem.value);

                var status = document.getElementById("status");

                setInterval(() => {
                    fetch("{{ url_for('status_feed') }}")
                    .then(response => {
                            response.text().then(st => {status.innerText = st})
                        });
                    }, 10000);

                var deg = document.getElementById("deg");
                var GPS = document.getElementById("gps");

                setInterval(() => {
                    fetch("{{ url_for('data_feed') }}")
                    .then(response => {
                            response.text().then(textData => {
                                var datas = textData.split("\n");
                                deg.innerText = datas[0];
                                GPS.innerText = datas[1];
                                })
                        });
                    }, 1000);
            }
        </script>
    </head>
    <body>
        <div style="text-align: center;">
            <table border="0" cellpadding="0" cellspacing="0" align="center">
                <tbody>
                <tr>
                    <td>
                        <p>速度変更</p>
                        <span id="currentDutyRate">80</span>
                        <br>
                        <input type="range" id="dutyRate" min="0" max="100" step="10" value="50">
                        <br>
                        <br>
                        <input type="button" value="画像保存" onclick="imageSave()"/>
                    </td>
                    <td style="width:1270px">
                        <img id="screen" src="http://192.168.137.23:8081/?action=stream" width="60%" style="
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -moz-touch-callout: none;
                        -moz-user-select: none;
                        touch-callout: none;
                        user-select: none;
                        ">
                    </td>
                    <td>
                        <p>解像度変更</p>
                        <span id="selectedResolution">{{ currentResolution }}</span>
                        <form name="resolution">
                            <select name="resolution">
                                <option value="1280x720">1280x720</option>
                                <option value="640x480">640x480</option>
                                <option value="480x270">480x270</option>
                                <option value="240x135" selected>240x135</option>
                            </select>
                        </form>
                        <input type="button" value="解像度変更" onclick="resolutionChange()"/>
                        <br>
                        <p>フレームレート変更</p>
                        <span id="selectedFPS">{{ currentFPS }}</span>
                        <form name="fps">
                            <select name="fps">
                                <option value="30">30fps</option>
                                <option value="20">20fps</option>
                                <option value="15" selected>15fps</option>
                                <option value="10">10fps</option>
                                <option value="5">5fps</option>
                            </select>
                        </form>
                        <input type="button" value="フレームレート変更" onclick="fpsChange()"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" align="center">
                <tbody>
                    <tr>
                        <td style="height:60px; text-align:center; width:60px">&nbsp;</td>
                        <td style="background-color:#66ffff; height:60px; text-align:center; width:60px" id="forward"><span style="font-size:36px">&uarr;</span></td>
                        <td style="height:60px; text-align:center; width:60px">&nbsp;</td>
                        <td style="height:60px; text-align:left; width:420px"><p id="status">status</p></td>
                        <td></td>
                        <td></td>
                        <td style="background-color:#ffff66; height:60px; text-align:center; width:60px" id="smallLeft"><span style="font-size:36px">↖</span></td>
                        <td style="background-color:#ffff66; height:60px; text-align:center; width:60px" id="smallForward"><span style="font-size:36px">&uarr;</span></td>
                        <td style="background-color:#ffff66; height:60px; text-align:center; width:60px" id="smallRight"><span style="font-size:36px">↗</span></td>
                    </tr>
                    <tr>
                        <td style="background-color:#66ffff; height:60px; text-align:center; width:60px" id="left"><span style="font-size:36px">&larr;</span></td>
                        <td style="height:60px; text-align:center; width:60px">&nbsp;</td>
                        <td style="background-color:#66ffff; height:60px; text-align:center; width:60px" id="right"><span style="font-size:36px">&rarr;</span></td>
                        <td style="height:60px; text-align:left; width:420px"><p id="deg">deg</p></td>
                        <td style="background-color:#ff0000; height:60px; text-align:center; " id="jettison"><span style="font-size:36px; color:#ffff00">パラシュート分離</span></td>
                        <td style="height:60px; text-align:center; width:60px"></td>
                        <td style="background-color:#ffff66; height:60px; text-align:center; width:60px" id="left90"><span style="font-size:36px">&larr;</span></td>
                        <td style="height:60px; text-align:center; width:60px">&nbsp;</td>
                        <td style="background-color:#ffff66; height:60px; text-align:center; width:60px" id="right90"><span style="font-size:36px">&rarr;</span></td>
                    </tr>
                    <tr>
                        <td style="height:60px; text-align:center; width:60px">&nbsp;</td>
                        <td style="background-color:#66ffff; height:60px; text-align:center; width:60px" id="back"><span style="font-size:36px">&darr;</span></td>
                        <td style="height:60px; text-align:center; width:60px">&nbsp;</td>
                        <td style="height:60px; text-align:left; width:420px"><p id="gps">gps</p></td>
                        <td></td>
                        <td></td>
                        <td style="height:60px; text-align:center; width:60px">&nbsp;</td>
                        <td style="background-color:#ffff66; height:60px; text-align:center; width:60px" id="smallBack"><span style="font-size:36px">&darr;</span></td>
                        <td style="height:60px; text-align:center; width:60px">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center;">
            <a href="{{ url_for('shutdown') }}">シャットダウン</a>
        </div>
    </body>
</html>